body {
  background: #E93C3C;
}
.logo h2 {
  color: #fff;
  margin: 20px 0;
}
.logo h2 span {
  font-weight: bold;
}
.mainPage {
  box-shadow: 0 0 7px #433C3C;
  background: #fff;
  min-height: 500px;
  margin: 0px auto;
  border-radius: 4px;
}
.mainPage button {
  margin: 12px 0;
}
.modalViewDiv .form-horizontal .control-label {
  text-align: left;
  padding: 8px 15px;
}
